<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.Order" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fk_buyer_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fk_ad_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fk_status_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, fk_buyer_id, fk_ad_id, name, fk_status_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.Order" >
    insert into order (id, fk_buyer_id, fk_ad_id, 
      name, fk_status_id)
    values (#{id,jdbcType=BIGINT}, #{fkBuyerId,jdbcType=BIGINT}, #{fkAdId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{fkStatusId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fkBuyerId != null" >
        fk_buyer_id,
      </if>
      <if test="fkAdId != null" >
        fk_ad_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fkStatusId != null" >
        fk_status_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fkBuyerId != null" >
        #{fkBuyerId,jdbcType=BIGINT},
      </if>
      <if test="fkAdId != null" >
        #{fkAdId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fkStatusId != null" >
        #{fkStatusId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Order" >
    update order
    <set >
      <if test="fkBuyerId != null" >
        fk_buyer_id = #{fkBuyerId,jdbcType=BIGINT},
      </if>
      <if test="fkAdId != null" >
        fk_ad_id = #{fkAdId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fkStatusId != null" >
        fk_status_id = #{fkStatusId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.Order" >
    update order
    set fk_buyer_id = #{fkBuyerId,jdbcType=BIGINT},
      fk_ad_id = #{fkAdId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      fk_status_id = #{fkStatusId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>