<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.Order" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fk_buyer_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fk_ad_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <resultMap id="BaseResultMap_Order" type="com.example.model.Order" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fk_buyer_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fk_ad_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
    <association property="buyer" column="fk_buyer_id" javaType="com.example.model.Buyer" select="com.example.mapper.BuyerMapper.selectByPrimaryKey"/>
    <association property="ad" column="fk_ad_id" javaType="com.example.model.Ad" select="com.example.mapper.AdMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, fk_buyer_id, fk_ad_id, name, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap_Order" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="getByBuyer" resultMap="BaseResultMap_Order">
      select *
      from `order`
      where fk_buyer_id= #{id};
    </select>
  <select id="getByAd" resultMap="BaseResultMap">
    select *
    from `order`
    where fk_ad_id=#{id}
  </select>
    <select id="getBySeller" resultMap="BaseResultMap_Order">
      select `order`.*
      from `order`
      where `order`.fk_ad_id in (
          select ad.id
          from ad
          where ad.fk_seller_id= #{id,jdbcType=BIGINT}
          )
    </select>
    <select id="getAll" resultMap="BaseResultMap_Order">
      select
      <include refid="Base_Column_List" />
      from `order`
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `order`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.Order" >
    insert into `order` (id, fk_buyer_id, fk_ad_id,
      name, status)
    values (#{id,jdbcType=BIGINT}, #{fkBuyerId,jdbcType=BIGINT}, #{fkAdId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.Order" >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fkBuyerId != null" >
        fk_buyer_id,
      </if>
      <if test="fkAdId != null" >
        fk_ad_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fkBuyerId != null" >
        #{fkBuyerId,jdbcType=BIGINT},
      </if>
      <if test="fkAdId != null" >
        #{fkAdId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Order" >
    update `order`
    <set >
      <if test="fkBuyerId != null" >
        fk_buyer_id = #{fkBuyerId,jdbcType=BIGINT},
      </if>
      <if test="fkAdId != null" >
        fk_ad_id = #{fkAdId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.Order" >
    update `order`
    set fk_buyer_id = #{fkBuyerId,jdbcType=BIGINT},
      fk_ad_id = #{fkAdId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>