<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.TypeMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.Type" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="BaseResultMap0" type="com.example.model.Type" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
    <collection property="attrs" ofType="com.example.model.Attr"  column="id" select="com.example.mapper.AttrMapper.selectByFK"></collection>
  </resultMap>

  <resultMap id="BaseResultMapAd" type="com.example.model.Type" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
    <collection property="ads" ofType="com.example.model.Ad"  column="id" select="com.example.mapper.AdMapper.getByType"></collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from type
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="getAll" resultMap="BaseResultMap0">
      select
      <include refid="Base_Column_List" />
      from type
    </select>
    <select id="getAllAd" resultMap="BaseResultMapAd">
      select
      *
      from type
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.Type" >
    insert into type (id, type)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.Type" >
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Type" >
    update type
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.Type" >
    update type
    set type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>